= table.column :parent, as: :association, sortable: :parent_name
= table.column :locale, sortable: true
= table.column :name, sortable: true
= table.column :description, sortable: true, class: 'truncate-chars truncate-chars-30'
= table.timestamps