= table.column :course, as: :association, sortable: true
= table.column :description, sortable: true, class: 'truncate-chars truncate-chars-30'
= table.column :start_at, sortable: true
= table.column :end_at, sortable: true
= table.timestamps